<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-patient-heading" jhiTranslate="projectJHipsterApp.patient.home.createOrEditLabel">Create or edit a Patient</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!patient.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="patient.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectJHipsterApp.patient.nom" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                        [(ngModel)]="patient.nom" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectJHipsterApp.patient.adresse" for="field_adresse">Adresse</label>
                    <input type="text" class="form-control" name="adresse" id="field_adresse"
                        [(ngModel)]="patient.adresse" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectJHipsterApp.patient.telephone" for="field_telephone">Telephone</label>
                    <input type="text" class="form-control" name="telephone" id="field_telephone"
                        [(ngModel)]="patient.telephone" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectJHipsterApp.patient.fax" for="field_fax">Fax</label>
                    <input type="text" class="form-control" name="fax" id="field_fax"
                        [(ngModel)]="patient.fax" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectJHipsterApp.patient.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                        [(ngModel)]="patient.email" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectJHipsterApp.patient.clinique" for="field_clinique">Clinique</label>
                    <select class="form-control" id="field_clinique" name="clinique" [(ngModel)]="patient.clinique" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="cliniqueOption.id === patient.clinique?.id ? patient.clinique : cliniqueOption" *ngFor="let cliniqueOption of cliniques; trackBy: trackCliniqueById">{{cliniqueOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
