<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-visite-heading" jhiTranslate="projectJHipsterApp.visite.home.createOrEditLabel">Create or edit a Visite</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!visite.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="visite.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectJHipsterApp.visite.dateVisite" for="field_dateVisite">Date Visite</label>
                    <div class="input-group">
                        <input id="field_dateVisite" type="text" class="form-control" name="dateVisite" ngbDatepicker  #dateVisiteDp="ngbDatepicker" [(ngModel)]="visite.dateVisite"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateVisiteDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.dateVisite?.dirty && editForm.controls.dateVisite?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.dateVisite?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectJHipsterApp.visite.medecin" for="field_medecin">Medecin</label>
                    <select class="form-control" id="field_medecin" name="medecin" [(ngModel)]="visite.medecin" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="medecinOption.id === visite.medecin?.id ? visite.medecin : medecinOption" *ngFor="let medecinOption of medecins; trackBy: trackMedecinById">{{medecinOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectJHipsterApp.visite.clinique" for="field_clinique">Clinique</label>
                    <select class="form-control" id="field_clinique" name="clinique" [(ngModel)]="visite.clinique" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="cliniqueOption.id === visite.clinique?.id ? visite.clinique : cliniqueOption" *ngFor="let cliniqueOption of cliniques; trackBy: trackCliniqueById">{{cliniqueOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
